.button {
    align-self: center;

    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

.button {
    background-color: black;
}

.button.inactive {
    background-color: grey;
    pointer-events: none;
    cursor: default;
}
