@use "~styles/color";

.button {
    align-self: center;
    display: block;
    color: color.$white;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
}

.button {
    background-color: color.$black;
}

.button.inactive {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
