$black: black;
$white: white;
$grey: grey;

$orange: #d57d18;
$darkblue: darkblue;

$eggshell: #efe1d5;

// // https://www.figma.com/color-palettes/golden-serenade/
// $gs6: #edc18b;
// $gs7: #efe1d5;

// $black: black;
// $white: white;
// $grey: grey;

// $orange: darkorange;
// $darkblue: darkblue;

// $eggshell: #efe1d5;
