@mixin roboto {
    font-family: var(--font-roboto), sans-serif;
}

@mixin reeniebeanie {
    font-family: var(--font-reenie-beanie), cursive;
}

@mixin swankyandmoomoo {
    font-family: var(--font-swanky-and-moo-moo), sans-serif;
}
