@use "~styles/fonts";

html,
body {
    @include fonts.atkinson;
    margin: 0;
    padding: 0;
    background-color: #f0ead6;
}

main {
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
