@use "~styles/fonts";
@use "~styles/color";

html,
body {
    // @include fonts.atkinson;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: color.$eggshell;
}

main {
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html.overflow-hidden,
body.overflow-hidden {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
