@use "~styles/fonts";
@use "~styles/color";
@use "~styles/riko";

html,
body {
    @include fonts.grandstander;
    margin: 0;
    padding: 0;
    background-color: color.$eggshell;
}

.hidden {
    display: none;
}

html.overflow-hidden,
body.overflow-hidden {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
