---
import Head from "~components/Head.astro";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Navigation from "~components/Navigation.astro";

import Banner from "~components/Banner.astro";
import banner from "~assets/banner/about.jpg";

import { Content as Content } from "~content/about.mdx";

import Footer from "~components/Footer.astro";

import "~styles/global.scss";
import "~styles/markdown.scss";

const title = "About | Gents & Ginger";
const description = `This Manchester-based 5-piece family feast, brings a delicious blend of old-school funk and rock with a modern twist. Off the back of their critically acclaimed debut album 'Githerments in Groove' and sold-out 2024 'Those Were The Days' UK headline tour, Gents & Ginger continue to light up the stage.`;
---

<html lang="en">
    <head>
        <Head title={title} description={description} image={IMG_048A5038_1200x630} />
    </head>

    <body>
        <header>
            <Navigation />
            <Banner image={banner}>
                <div style="text-transform: capitalize; text-shadow: 1px 1px 1px black;">
                    {Astro.url.pathname.split("/").filter(Boolean).pop()?.replace("-", " ")}
                </div>
            </Banner>
        </header>

        <main>
            <article>
                <Content />
            </article>
        </main>

        <Footer />
    </body>
</html>

<style>
    header {
        height: 75svh;
    }
</style>
