---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Navigation from "~components/Navigation.astro";
import Events from "~components/Events.astro";
import Footer from "~components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>
    <body>
        <header>
            <Navigation />
        </header>

        <main>
            <h1>Events</h1>
            <Events />
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/global";
    @use "~styles/fonts";

    main {
        gap: 1rem;
    }

    h1 {
        @include fonts.reeniebeanie;
        color: #d57d18;
        font-size: 5rem;
        margin: 0;
    }
</style>
