---
import Page from "~layouts/Page.astro";

import Events from "~components/Events.astro";
---

<Page bannertext="Events">
    <h1>Events</h1>
    <Events />
</Page>

<style lang="scss">
    @use "~styles/h1";
</style>
