---
import Layout from "~layouts/Index.astro";

import Events from "~components/Events.astro";
import GithermentsInGroove from "~components/GithermentsInGroove.astro";
import Merchandise from "~src/components/Merchandise.astro";
import YouTube from "~components/YouTube.astro";

import drumkit from "~assets/icons/drumkit.svg";
import saxophone from "~assets/icons/saxophone.svg";
---

<Layout>
    <section>
        <h1>Events</h1>

        <Events number={3} />

        <a class="button" href="/gentsandginger/events/">View All Events</a>
    </section>

    <div class="section-wrapper">
        <section>
            <h1>Githerments In Groove</h1>

            <GithermentsInGroove />
        </section>

        <div class="instrument drumkit">
            <img alt="" src={drumkit.src} />
        </div>
    </div>

    <section>
        <h1>Merchandise</h1>

        <Merchandise />

        <a class="button" href="/gentsandginger/merchandise/">View All Merchandise</a>
    </section>

    <div class="section-wrapper">
        <section>
            <h1>Those Were The Days</h1>

            <YouTube
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                loading="lazy"
                name="YouTube video player"
                src="https://www.youtube.com/embed/gXMAVJ8y9Qk?si=yMVbQXZTZnDOYO_x"
            />
        </section>

        <div class="instrument saxophone">
            <img alt="" src={saxophone.src} />
        </div>
    </div>
</Layout>

<style lang="scss">
    @use "~styles/global";
    @use "~styles/fonts";
    @use "~styles/riko";
    @use "~styles/h1";
    @use "~styles/button";
    @use "~styles/adam";

    html,
    body {
        overflow-x: hidden;
    }

    .section-wrapper {
        position: relative;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        @include adam.base;
    }

    .instrument {
        width: 100%;
        max-width: 1000px;
        position: absolute;
        pointer-events: none;

        img {
            width: 100%;
        }
    }

    .drumkit {
        top: -20svh;

        img {
            transform: scaleX(-1);
        }
    }

    @media (max-width: riko.$mobile) {
        .drumkit {
            top: -15svh;
        }
    }

    .saxophone {
        top: -10svh;
    }
</style>
