---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import bannerimage from "~assets/banner/truckfestival0001.png";
import Banner from "~components/Banner.astro";

import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";

import Events from "~components/Events.astro";
import GithermentsInGroove from "~components/GithermentsInGroove.astro";
import Merchandise from "~src/components/Merchandise.astro";
import YouTube from "~components/YouTube.astro";

import "~styles/global.scss";
---

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>

    <body>
        <header>
            <Navigation style="position: absolute; width: 100%;" />
            <Banner image={bannerimage} height="100svh" width="100%" />
        </header>

        <main>
            <section>
                <h1>Events</h1>

                <Events number={3} />

                <a class="button" href="/gentsandginger/events/">View All Events</a>
            </section>

            <div class="section-wrapper">
                <section>
                    <h1>Githerments In Groove</h1>

                    <GithermentsInGroove />
                </section>
            </div>

            <section>
                <h1>Merchandise</h1>

                <Merchandise />

                <a class="button" href="/gentsandginger/merchandise/">View All Merchandise</a>
            </section>

            <div class="section-wrapper">
                <section>
                    <h1>Those Were The Days</h1>

                    <YouTube
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        loading="lazy"
                        name="YouTube video player"
                        src="https://www.youtube.com/embed/gXMAVJ8y9Qk?si=yMVbQXZTZnDOYO_x"
                    />
                </section>
            </div>
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/global";
    @use "~styles/fonts";
    @use "~styles/riko";
    @use "~styles/h1";
    @use "~styles/button";
    @use "~styles/adam";

    main {
        gap: 5rem;
        overflow-wrap: break-word;
    }

    .section-wrapper {
        position: relative;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        @include adam.base;
    }

    .instrument {
        width: 100%;
        max-width: 1000px;
        position: absolute;
        pointer-events: none;

        img {
            width: 100%;
        }
    }

    .drumkit {
        top: -20svh;

        img {
            transform: scaleX(-1);
        }
    }

    @media (max-width: riko.$mobile) {
        .drumkit {
            top: -15svh;
        }
    }

    .saxophone {
        top: -10svh;
    }
</style>
