---
import "../styles/global.css";
import Head from "../components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import IMG_048A5038_1200x630 from "../assets/IMG_048A5038_1200x630.jpg";

import GithermintsInGroove from "../assets/Githerments in Groove.jpg";
---

<!doctype html>
<html lang="en">
	<head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
	</head>
	<body>
        <main>
            <div id="githermints-in-groove">
                <img alt="" src={GithermintsInGroove.src} />
            </div>
        </main>
	</body>
</html>

<style>
    main {
        max-width: 1000px;
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 2rem;
        box-sizing: border-box;
    }

    #githermints-in-groove {
        max-width: 500px;
    }

    #githermints-in-groove > img {
        width: 100%;
        border-radius: 0.5rem;
    }
</style>
