---
import Page from "~layouts/Page.astro";

import banner from "~assets/banner/merchandise.jpg";

import Merchandise from "~components/Merchandise.astro";

const title = "Merchandise | Gents & Ginger";
const description = "Shop offical Gents & Ginger merchandise.";
---

<Page title={title} description={description} bannerimage={banner} bannertext="Merchandise">
    <h1>Merchandise</h1>
    <Merchandise />
</Page>

<style lang="scss">
    @use "~styles/h1";
</style>
