---
import Head from "~components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~src/consts";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Navigation from "~components/Navigation.astro";
import Merchandise from "~src/components/Merchandise.astro";
import Footer from "~components/Footer.astro";
---

<html lang="en">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION} image={IMG_048A5038_1200x630} />
    </head>
    <body>
        <header>
            <Navigation />
        </header>

        <main>
            <h1>Merchandise</h1>

            <Merchandise />
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/global";
    @use "~styles/fonts";
    @use "~styles/h1";

    main {
        gap: 1rem;
    }
</style>
