---
interface Props {
    image: ImageMetadata;
    text: string;
}

const { image, text } = Astro.props;
---

<div class="banner">
    <div class="text">{text}</div>
    <img class="image" src={image.src} />
</div>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/adam";

    .banner {
        position: relative;

        @include adam.banner;

        .image {
            height: 80svh;
            width: 100%;
            object-fit: cover;
            display: block;
        }

        .text {
            position: absolute;
            inset: 0;
            margin: auto;
            width: max-content;
            height: max-content;

            @include fonts.reeniebeanie;
            font-size: 5rem;

            color: #d57d18;
        }
    }
</style>
