---
import { Image } from "astro:assets";

interface Props {
    image?: ImageMetadata;
    desktop?: ImageMetadata;
    mobile?: ImageMetadata;
}

const { image, desktop, mobile } = Astro.props;
---

<div class="banner">
    {desktop && <Image alt="" src={desktop} class="image desktop" layout="constrained" height="1080" width="1920" />}
    {mobile && <Image alt="" src={mobile} class="image mobile" layout="constrained" height="1920" width="1080" style="object-position: right;" />}
    {image && <Image alt="" src={image} class="image" layout="constrained" height="1080" width="1920" />}

    <div class="content">
        <slot />
    </div>
</div>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/color";
    @use "~styles/adam";

    @use "~styles/riko";

    .banner {
        // position: relative;
        height: 100%;
        width: 100%;

        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;
        }

        .content {
            @include adam.base;
            position: absolute;
            inset: 0;
            margin: auto;
            width: max-content;
            height: max-content;

            // @include fonts.swankyandmoomoo;
            // font-size: 4rem;

            // color: color.$orange;
        }
    }
</style>
