---
import { Image } from "astro:assets";

interface Props {
    image?: ImageMetadata;
    desktop?: ImageMetadata;
    mobile?: ImageMetadata;
}

const { image, desktop, mobile } = Astro.props;
---

<div class="banner">
    {desktop && <Image alt="" src={desktop} class="image desktop" layout="constrained" height="1080" width="1920" />}
    {mobile && <Image alt="" src={mobile} class="image mobile" layout="constrained" height="1920" width="1080" style="object-position: right;" />}
    {image && <Image alt="" src={image} class="image" layout="constrained" height="1080" width="1920" />}

    <div class="content">
        <slot />
    </div>
</div>

<style lang="scss">
    .banner {
        position: relative;
        height: 100%;
        width: 100%;

        .image {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .content {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>
