---
import banner from "~assets/banner.webm";
import guitar from "~assets/icons/guitar.svg";
---

<div class="banner">
    <div class="video">
        <video autoplay muted loop playsinline>
            <source src={banner} type="video/webm" />
        </video>
    </div>
</div>

<div class="mobile announcement">
    <img class="guitar" src={guitar.src} />
    <!-- <div class="text">Come See Us At Truck Festival!</div> -->
</div>

<style lang="scss">
    @use "~styles/riko";

    .video {
        height: 100vh;

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: grayscale(100%);
        }
    }

    .announcement {
        .guitar {
            position: absolute;
            z-index: 888;
            width: 200vw;

            top: 60vh;
            right: -20vw;

            transform: scaleX(-1) rotate(-15deg);

            img {
                width: 100%;
            }
        }

        .text {
            border: 1px solid green;

            width: 60.5%;

            position: absolute;
            top: 84%;
            right: 0;

            z-index: 999;

            display: flex;
            justify-content: center;

            padding: 1rem;
            box-sizing: border-box;

            font-size: 1.5rem;
        }
    }
</style>
