---
interface Props {
    image: ImageMetadata;
    text: string;
}

const { image, text } = Astro.props;
---

<div class="banner">
    <div class="text">{text}</div>
    <img class="image" src={image.src} />
</div>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/color";
    @use "~styles/adam";

    .banner {
        position: relative;

        .image {
            height: 75svh;
            width: 100%;
            object-fit: cover;
            filter: grayscale(100%);
        }

        .text {
            @include adam.max;
            position: absolute;
            inset: 0;
            margin: auto;
            width: max-content;
            height: max-content;

            @include fonts.reeniebeanie;
            font-size: 5rem;

            color: color.$orange;
        }
    }
</style>
