---
interface Props {
    href?: string;
    class_?: string;
    style?: string;
    desktop?: boolean;
    mobile?: boolean;
}

const { href, class_, style, desktop = false, mobile = false } = Astro.props;
---

<a class={`button ${class_} ${desktop && "desktop"} ${mobile && "mobile"}`} href={href} style={style}>
    <slot />
</a>

<style lang="scss">
    @use "~styles/color";
    @use "~styles/fonts";
    @use "~styles/riko";

    .button {
        display: flex;
        justify-content: center;

        color: white;
        background-color: black;

        appearance: none;

        border: 0;

        height: min-content;

        text-decoration: none;

        margin: auto;

        padding: 0.25rem;

        font-size: 1rem;
        padding: 0.5rem;
        box-sizing: border-box;

        border-radius: 5px;
    }

    .button.inactive {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
    }
</style>
