---
interface Props {
    href?: string;
    style?: string;
    desktop?: boolean;
    mobile?: boolean;
    inactive?: boolean;
}

const { href, style, desktop = false, mobile = false, inactive = false } = Astro.props;
---

<a class={`button ${desktop && "desktop"} ${mobile && "mobile"} ${inactive && "inactive"}`} href={href} style={style}>
    <slot />
</a>

<style lang="scss">
    @use "~styles/riko";

    @media (max-width: riko.$mobile) {
        .mobile {
            display: flex !important;
        }

        .desktop {
            display: none !important;
        }
    }

    @media (min-width: riko.$desktop) {
        .mobile {
            display: none !important;
        }

        .desktop {
            display: flex !important;
        }
    }

    .button {
        display: flex;
        justify-content: center;

        color: white;
        background-color: black;

        appearance: none;

        border: 0;

        height: min-content;

        text-decoration: none;

        margin: auto;

        padding: 0.25rem;

        font-size: 1rem;
        padding: 0.5rem;
        box-sizing: border-box;

        border-radius: 5px;
    }

    .button.inactive {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
    }
</style>
