---
import instagram from "~assets/icons/instagram.svg";
import youtube from "~assets/icons/youtube.svg";
import spotify from "~assets/icons/spotify.svg";
import applemusic from "~assets/icons/applemusic.svg";
---

<footer>
    &copy; Gents & Ginger {new Date().getFullYear()}

    <div class="social-links">
        <a href="https://www.instagram.com/gentsandginger/" target="_blank">
            <img alt="" src={instagram.src} />
        </a>

        <a href="https://www.youtube.com/@gentsginger5174" target="_blank">
            <img alt="" src={youtube.src} />
        </a>

        <a href="https://open.spotify.com/artist/7jIpsmRlZWQbKMjbxVeJ5M?si=0scp_nZNS2KHEGRTYOtZmw" target="_blank">
            <img alt="" src={spotify.src} />
        </a>

        <a href="https://music.apple.com/gb/artist/gents-ginger/1765128507" target="_blank">
            <img alt="" src={applemusic.src} />
        </a>
    </div>
</footer>

<style lang="scss">
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 5rem 1rem 10rem;
        box-sizing: border-box;
        text-align: center;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;

        a {
            text-decoration: none;
        }
    }
</style>
