---
import { Image } from "astro:assets";

import H1 from "~components/H1.astro";
import P from "~components/P.astro";

import GithermentsInGrooveAlbumCover from "~assets/GithermentsInGroove.jpeg";

import { default as Spotify } from "~assets/icons/spotify.svg";
import { default as AppleMusic } from "~assets/icons/applemusic.svg";
---

<div class="wrapper">
    <div class="image">
        <Image alt="" src={GithermentsInGrooveAlbumCover} layout="constrained" />
    </div>
    <div class="text">
        <H1 dynamic scale={1.25} font="reeniebeanie" style="text-transform: uppercase;">Githerments in Groove</H1>

        <P desktop quotation>
            Their recently released album, 'Githerments In Groove' showcases their steadfast talent for being as funky as hell. “Ricke” opens
            proceedings with an explosion of joy while “Ambience For A Kebab Shop Pt II” oozes the style and ability of some of the great funk bands
            from the past to rock out. I think I prefer the songs here that feature vocals and the first of those to appear is “Turtle”, musically it
            has the feel of the classic Bowie band from the 1974 American tour. “4 Silly Balls”, what a great title that is, and “Style Control” power
            on like extended versions of one of the jazzed up interludes that Earth, Wind, and Fire included in their best 70s albums.

            <span slot="after">
                -
                <a style="color: black" href="https://withjustahintofmayhem.blog/tag/gents-and-ginger/">With Just a Hint of Mayhem</a>
            </span>
        </P>

        <P align="center" mobile quotation>
            Their recently released album, 'Githerments In Groove' showcases their steadfast talent for being as funky as hell. “Ricke” opens
            proceedings with an explosion of joy while “Ambience For A Kebab Shop Pt II” oozes the style and ability of some of the great funk bands
            from the past to rock out.

            <span slot="after">
                -
                <a style="color: black" href="https://withjustahintofmayhem.blog/tag/gents-and-ginger/">With Just a Hint of Mayhem</a>
            </span>
        </P>

        <div class="streaming">
            <div>Streaming Now!</div>

            <a href="https://open.spotify.com/artist/7jIpsmRlZWQbKMjbxVeJ5M?si=0scp_nZNS2KHEGRTYOtZmw" aria-label="Spotify">
                <Spotify class="icon" />
            </a>

            <a href="https://music.apple.com/gb/artist/gents-ginger/1765128507" aria-label="Apple Music">
                <AppleMusic class="icon" />
            </a>
        </div>
    </div>

    <div class="spotify">
        <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/album/3A1fC1ph7Fr40ikFbDJMQs?utm_source=generator"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="eager"
            title="Spotify embedded music player"
        >
        </iframe>
    </div>
</div>

<style lang="scss">
    @use "~styles/riko";
    @use "~styles/fonts";
    @use "~styles/color";

    @media (min-width: riko.$desktop) {
        .wrapper {
            grid-template-areas:
                "image text"
                "spotify spotify";
        }
    }

    @media (max-width: riko.$mobile) {
        .wrapper {
            grid-template-areas:
                "image"
                "text"
                "spotify";

            align-items: center;

            * {
                justify-content: center;
                text-align: center;
            }

            .image {
                padding: 0 2.5rem;
                box-sizing: border-box;
            }
        }
    }

    .wrapper {
        width: 100%;
        display: grid;

        gap: 2rem;
        box-sizing: border-box;
    }

    .image {
        grid-area: image;
        display: flex;
        justify-content: center;
        align-items: center;

        height: auto;
        width: 100%;

        img {
            object-fit: contain;
            height: auto;
            width: 100%;

            border-radius: 10px;
            box-sizing: border-box;

            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
    }

    .text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }

    .streaming {
        align-items: center;
        gap: 1rem;
        font-size: 2rem;
        @include fonts.reeniebeanie;

        a {
            color: black;
        }
    }

    @media (max-width: riko.$mobile) {
        .streaming {
            display: none;
        }
    }

    @media (min-width: riko.$desktop) {
        .streaming {
            display: flex;
        }
    }

    .spotify {
        grid-area: spotify;
        width: 100%;
        height: 583px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        box-sizing: border-box;

        iframe {
            width: 100%;
            height: calc(200px + 583px);
            border: 0;
            grid-area: spotify;
            position: absolute;
            top: -200px;
            left: 0;

            @media (max-width: riko.$mobile) {
                height: calc(200px + 583px + 5px);
            }
        }
    }
</style>
