---
interface Props {
    font?: string;
    style?: string;
    color?: string;
    "text-align"?: string;
}
const { font, style, color, "text-align": textAlign } = Astro.props;
---

<h1 class={font} style={`${style}; color: ${color}; text-align: ${textAlign}`}>
    <slot />
</h1>

<style lang="scss">
    @use "~styles/fonts";

    h1 {
        @include fonts.grandstander;
        font-size: 2rem;
        font-weight: 100;
        margin: 0;
    }

    .reeniebeanie {
        @include fonts.reeniebeanie;
    }
</style>
