---
import { Image } from "astro:assets";

import tom from "~assets/about/tom.png";
import eli from "~assets/about/eli.png";
import adam from "~assets/about/adam.png";
import riko from "~assets/about/riko.png";
import mia from "~assets/about/mia.png";

const members = [
    { image: tom, text: "Tom on Guitar & Vocals" },
    { image: eli, text: "Eli on Keyboard" },
    { image: adam, text: "Adam on Bass" },
    { image: riko, text: "Riko on Guitar & Synth" },
    { image: mia, text: "Mia on Drums & Vocals" }
];
---

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true, "prevNextButtons": false }'>
    {
        members.map(({ image, text }) => (
            <div class="item">
                <div class="text">{text}</div>
                <Image alt="" src={image} layout="constrained" height="1920" width="1080" />
            </div>
        ))
    }
</div>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/color";
    @use "~styles/adam";
    @use "~styles/riko";

    @media (min-width: riko.$desktop) {
        .item {
            width: 70%;
        }
    }

    @media (max-width: riko.$mobile) {
        .item {
            width: 90%;
        }
    }

    .gallery {
        margin-bottom: calc(16px + 0.5rem);
    }

    .item {
        position: relative;
        height: 90svh;

        padding: 0 0.25rem;
        box-sizing: border-box;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .text {
        z-index: 999;
        position: absolute;
        bottom: 0;
        margin: auto;
        width: max-content;
        height: max-content;

        font-size: 1rem;

        background-color: rgba(0, 0, 0, 0.5);

        width: calc(100% - 0.5rem);

        display: flex;
        justify-content: center;

        color: white;
    }
</style>
