---
import logo from "~assets/logo.svg";
import hamburger from "~assets/icons/hamburger.svg";
import x from "~assets/icons/x.svg";

import SocialMedia from "~components/SocialMedia.astro";

interface Props {
    style?: string;
}

const { style } = Astro.props;
---

<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.getElementById("button")!.addEventListener("click", function () {
            for (const icon of this.children) {
                icon.classList.toggle("hidden");
            }

            document.querySelector("nav")!.classList.toggle("mobile-menu-open");
            document.getElementById("links")!.classList.toggle("mobile-menu-open");

            document.body.classList.toggle("overflow-hidden");
            document.documentElement.classList.toggle("overflow-hidden");
        });
    });
</script>

<nav style={style}>
    <button id="button" class="mobile">
        <img alt="hamburger" src={hamburger.src} />
        <img alt="x" class="hidden" src={x.src} />
    </button>

    <div id="links">
        <a class="mobile" href="/">Home</a>
        <a href="/live/">Live</a>
        <a href="/store/">Store</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
    </div>

    <a id="logo" href="/">
        <img alt="" src={logo.src} />
    </a>

    <div id="social-media" class="desktop">
        <SocialMedia />
    </div>
</nav>

<style lang="scss">
    @use "~styles/fonts";
    @use "~styles/mia";
    @use "~styles/riko";
    @use "~styles/color";

    nav {
        position: absolute;
        z-index: 900;

        @include fonts.reeniebeanie;
        font-size: 1.5rem;

        padding: 1rem 2rem;
        box-sizing: border-box;

        width: 100%;
    }

    a {
        color: color.$orange;
        text-decoration: none;
        font-size: 2rem;
    }

    #button {
        @include mia.resetButton;
        color: color.$orange;

        img {
            height: 2rem;
            width: 2rem;
        }
    }

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        img {
            max-height: 100px;
            max-width: 100%;
        }
    }

    @media (min-width: riko.$desktop) {
        nav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        nav > div {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        #links {
            justify-content: start;
        }

        #social-media {
            justify-content: end;
        }
    }

    @media (max-width: riko.$mobile) {
        nav {
            display: grid;
            grid-template-areas:
                "button logo"
                "links links";
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
        }

        #button {
            grid-area: button;
        }

        #logo {
            grid-area: logo;
        }

        #links {
            grid-area: links;
        }

        nav.mobile-menu-open {
            display: grid;
            grid-template-rows: auto 1fr;
            height: 100vh;
            background-color: color.$eggshell;

            padding-bottom: calc(2rem + 75px);
        }

        #links.mobile-menu-open {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        #links {
            display: none;
        }
    }
</style>
