---
import nav_logo from "../assets/nav_logo.png";
---

<nav>
    <a href="/gentsandginger/events/">Events</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSes613JZzO880ZoA38NtIuJxes6Swd_OUUrO7Oxtaq5vwXgmQ/closedform"
        >Merchandise</a
    >
    <a href="/gentsandginger/">
        <img src={nav_logo.src} />
    </a>
    <a href="/gentsandginger/about/">About</a>
    <a href="/gentsandginger/contact/">Contact</a>
</nav>

<style>
    nav {
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: #d57d18;
        gap: 2rem;
        font-size: 32px;
        font-family: var(--font-reenie-beanie), cursive;
    }

    img {
        height: 9rem;
    }

    a {
        color: #d57d18;
        text-decoration: none;
    }
</style>
