---
import logo from "~assets/logo.svg";
---

<!-- prettier-ignore -->
<nav>
    <a href="/gentsandginger/events/">
        Events
    </a>

    <a href="/gentsandginger/merchandise/">
        Merchandise
    </a>

    <a class="logo-link" href="/gentsandginger/">
        <img src={logo.src} />
    </a>

    <a href="/gentsandginger/about/">
        About
    </a>

    <a href="/gentsandginger/contact/">
        Contact
    </a>
</nav>

<style lang="scss">
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
        color: #d57d18;
        gap: 2rem;
        font-size: 32px;
        font-family: var(--font-reenie-beanie), cursive;
    }

    a {
        color: #d57d18;
        text-decoration: none;
    }

    img {
        height: 5rem;
    }
</style>
