---
import logo from "~assets/logo.svg";
---

<nav>
    <a href="/gentsandginger/events/">Events</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSes613JZzO880ZoA38NtIuJxes6Swd_OUUrO7Oxtaq5vwXgmQ/closedform">
        Merchandise
    </a>
    <a class="logo-link" href="/gentsandginger/">
        <img src={logo.src} />
    </a>
    <a href="/gentsandginger/about/">About</a>
    <a href="/gentsandginger/contact/">Contact</a>
</nav>

<style>
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
        color: #d57d18;
        gap: 2rem;
        font-size: 32px;
        font-family: var(--font-reenie-beanie), cursive;
    }

    a {
        color: #d57d18;
        text-decoration: none;
    }

    img {
        height: 5rem;
    }
</style>
