---
import { default as Facebook } from "~assets/icons/facebook.svg";
import { default as Instagram } from "~assets/icons/instagram.svg";
import { default as Tiktok } from "~assets/icons/tiktok.svg";
import { default as YouTube } from "~assets/icons/youtube.svg";
import { default as Spotify } from "~assets/icons/spotify.svg";
import { default as AppleMusic } from "~assets/icons/applemusic.svg";

interface Props {
    style?: string;
    color?: string;
    direction?: string;
}

const { style, color = "#d57d18", direction = "row" } = Astro.props;
---

<div style={`${style}; color: ${color}; flex-direction: ${direction};`}>
    <a href="https://www.facebook.com/gentsandginger" aria-label="Instagram">
        <Facebook class="icon" />
    </a>

    <a href="https://www.instagram.com/gentsandginger" aria-label="Instagram">
        <Instagram class="icon" />
    </a>

    <a href="https://www.tiktok.com/@gentsandginger" aria-label="Instagram">
        <Tiktok class="icon" />
    </a>

    <a href="https://www.youtube.com/@gentsandginger" aria-label="YouTube">
        <YouTube class="icon" />
    </a>

    <a href="https://open.spotify.com/artist/7jIpsmRlZWQbKMjbxVeJ5M?si=0scp_nZNS2KHEGRTYOtZmw" aria-label="Spotify">
        <Spotify class="icon" />
    </a>

    <a href="https://music.apple.com/gb/artist/gents-ginger/1765128507" aria-label="Apple Music">
        <AppleMusic class="icon" />
    </a>
</div>

<style lang="scss">
    div {
        display: flex;
        gap: 1rem;
    }

    a,
    .icon {
        color: inherit;
    }
</style>
