---
import Head from "~components/Head.astro";
import IMG_048A5038_1200x630 from "~assets/IMG_048A5038_1200x630.jpg";

import Navigation from "~components/Navigation.astro";
import Banner from "~components/Banner.astro";
import Footer from "~components/Footer.astro";

import H1 from "~components/H1.astro";

import "~styles/global.scss";

interface Props {
    title: string;
    description: string;
    metaimage?: ImageMetadata;
    banner?: ImageMetadata;
}

const { title, description, metaimage = IMG_048A5038_1200x630, banner } = Astro.props;
---

<html lang="en">
    <head>
        <Head title={title} description={description} image={metaimage} />
    </head>

    <body>
        <header>
            <Navigation />
            <Banner image={banner}>
                <H1>
                    {Astro.url.pathname.split("/").filter(Boolean).pop()?.replace("-", " ")}
                </H1>
            </Banner>
        </header>

        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    header {
        height: 75svh;
    }

    main {
        max-width: 1000px;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1rem;
        padding: 2.5rem 1rem;
        box-sizing: border-box;
    }
</style>
